html, body {
    height: 100%;
}

body {
    margin: 0;

    background: linear-gradient(45deg, #ff00cc, #333399);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
}

.btnWrap{
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.btnWrap li{
    margin-bottom: 10px;
}
.btnWrap li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    position: relative;
    background-color: rgba(127, 127, 127, 0.5);
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.btnWrap li a:hover{
    opacity: 0.8;
    transform: scale(1.2);
}
.icon{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-20%);
    z-index: 1;
}
.icon svg{
    width: 30px;
    height: 30px;
}
.textName{
    color: rgb(255, 255, 255);
    font-family: "Arial";
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 65px;
}
.name{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 1;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}